@import "base";
@import "typography";
@import "header";

body {
	font-size: 100%;
	background-color: $dkgreen;
}

#page {
	margin: 0 auto;
	width: 960px;
	background-color: white;
}

.wrapper {
	padding: 10px;
	margin: 0 auto;
	@include pie-clearfix;
}

// Navigation

#header nav ul a {
	text-decoration: none;
}

#header {
	nav ul {
		@include horizontal-list;
	}
	a {
		text-decoration: none;
	}
	h1 {
	font-size: 1.4em;
	}
}

// Content

aside {
	float: left;
	width: 33%;
	div {
		padding: 10px;
	}
}

.box {
	background: #ddd;
}

.info-box {
	@extend .box;
	font-style: italic;
}

.highlight-box {
	@extend .info-box;
	color: red;
}





